/* for computers and large tablets */
.introheader{
  color: darkblue;
  font-family: "Times New Roman", Times, serif;
  margin: 30px;
  border: 6px solid #9999bb;
  padding: 4px;
  background-color: #ccccff;
  text-align: center;
  width: 75%;
}

core.img{
  float: right;
}

@media screen and (max-width: 768px) {
  body{
    background-color: #79afff
  }
}

@media screen and (min-width: 768px) {
  body{
    background-color: #dddddd
  }
}
